<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Websocket Tester</title>
  <link rel='stylesheet' href='./styles.css'>
  <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
  <script src='http://localhost:3000/socket.io/socket.io.js'></script>
</head>
<body>
<main id='v-app'>
  <section class='alerts'>
    <alerts-component :items='alerts'></alerts-component>
  </section>
  <section class='chat'>
    <h1>Websocket Tester</h1>
    <form>
      <label for='requestText'>Request text</label>
      <input id='requestText' type='text' v-model='text'>
      <button type='submit' @click.prevent='sendChatMessage()'>Send request</button>
      <p>
      <ul>
        <li v-for='msg of messages'>
          <strong>{{ msg.sender }}</strong> {{ msg.message }}
        </li>
      </ul>
      </p>
    </form>
  </section>
</main>
</body>
<script>
  Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
  const app = new Vue({
    el: '#v-app',
    data: {
      text: '',
      messages: [],
      alerts: [],
      socket: { chat: null, alerts: null }
    },
    methods: {
      sendChatMessage () {
        this.socket.chat.emit('chatToServer', { sender: this.username, message: this.text });
        this.text = '';
      },
      receiveChatMessage (msg) {
        this.messages.push(msg);
      },
      receiveAlertMessage (msg) {
        this.alerts.push(msg);
      }
    },
    created () {
      this.username = prompt('Enter your username:');

      this.socket.chat = io('http://localhost:3000/chat');
      this.socket.chat.on('chatToClient', msg => {
        this.receiveChatMessage(msg);
      });

      this.socket.alert = io('http://localhost:3000/alert');
      this.socket.alert.on('alertToClient', msg => {
        this.receiveAlertMessage(msg);
      });
    }
  });
</script>
</html>
